/*
Reuse Code Below
Banners1
https://i.pinimg.com/originals/3c/f6/56/3cf656908a2481110485bac3bf1297d9.jpg 

Banner2
https://i.ytimg.com/vi/TjW1SsvbA9s/maxresdefault.jpg

Google Fonts
Title - font-family: 'Anton', sans-serif;
Paragraph - font-family: 'Lato', sans-serif;
*/

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 17px; 
    line-height: 1.5em;
}
.banner1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.726),rgba(0, 0, 0, 0.747)), url(https://i.pinimg.com/originals/3c/f6/56/3cf656908a2481110485bac3bf1297d9.jpg);
    width: 100vw;
    height: 90vh;
}
nav{
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(141, 5, 5, 0.623); 
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    transition: 0.5s linear;
}

nav a:hover {
    /*background-color: rgba(255, 255, 255, 0.842);*/
    color: rgba(141, 5, 5, 0.788);
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding: 10px 15px;
    transform: scale(3.0);
}

nav ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

nav li {
    list-style: none;
    font-size: 18px;
    padding: 20px;
}

#title {
    font-family: 'Anton', sans-serif;
    font-size: 5.0em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.849);
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
}

.hightext{
    display: inline;
    position: relative;
    bottom: 25px;
    color: rgba(141, 5, 5, 0.952);
    text-shadow: 2px 2px 4px #fff;
}

/*mainsection*/
.movieLife {
    width: 80%;
    height: 50vh;
    border: 1px solid yellow;
    margin: 0 auto;
}

.moviecontainer{
    width: 250px;
    height: 250px;
    border: 2px dotted blue;
    margin: 0 auto;
}
#mainsection {
    width: 95%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: visible;
    margin: 0 auto;
}

.movieImg {
    width:100%;
}

/*Images below*/

.image1 {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/open-uri20150422-12561-bbhq1a_d355c341.jpeg?region=0%2C0%2C1000%2C1500");
    width: 200px;
    height: 200px;
}
/*
.image2 {
    background-image: ;
.image3 {
    background-image: ;
}
.image4 {
    background-image: ;
}
.image5 {
    background-image: ;
}
*/
